body {
  font-family: roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0 100px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-link {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
}

.block1 {
  display: flex;
  flex: 1;
  padding: 0 100px;
  background-color: #1f2937;
  padding: 50px 100px;
}

.B1L {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hero {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.heroMain {
  font-size: 18px;
  color: #e5e7eb;
}

.B1R {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.placeholder {
  width: 500px;
  height: 300px;
  padding: 20px;
}

.signUpBtn {
  width: 100px;
  background-color: #3882f6;
  color: white;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
