body {
  font-family: roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-link {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
}
